<h1>All the Games</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.rating  %></td>
      <td><%= link_to "Show", "/games/#{game.id}"  %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to "Create a new game", new_game_path%>
